body {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: mintcream;
    font-family: Georgia, 'Times New Roman', Times, serif;
.estrutura {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "content1 content1"
    "content2 content2"
    "footer footer";
}
/*cabeçalho*/

}

.hdr {
    grid-area: header;
     display: flex;
     justify-content: space-between;
     padding: 20px;
     background-image:url("../Imagens/logo.png");
     background-color: darkgreen;
     background-position: 30% 60%;
     background-size: 100%;
     
     }
.logo {
  font-size: 2rem;
  font-style:inherit;
  
}

.sobre {
    margin-right: 30px;
    margin-top: 15px;
    
}
/*conteúdo*/
.content1 {
    grid-area: content1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.content2 {
    grid-area: content2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div img {
    border-radius: 60%;
    width: 356px;
    height: 340px;
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.saci {
    background-color:#DC5555;
    width: 700px;
}
.boto {
    background-color: #AF84B9;
    width: 700px;
}
.kurupira {
    background-color: #70CF89;
    width: 700px;
}
.boi {
    background-color: #62D2EF;
    width: 700px;
}
.boto img{
    margin-right: 300px;
}
.boi img{
    margin-right: 300px;
}
/*rodapé*/
.rodape {
    grid-area: footer;
    display: flex;
    justify-content:end;
    background-image: url("../Imagens/logo.png");
    background-color: darkseagreen;
    background-position: 5% 50%;
    background-size: 100%;
    
}
.linke {
    margin-top: 10px;
    max-width: 26px;
    max-height: 26px;
    border-radius: 25%;
}
footer p, img {
     margin-right: 10px;
     color: white;
     font: bold;
     
}
.insta {
    margin-right: 200px;
    width: 26px;
    height: 26px;
    margin-top: 10px;
}


