body {
    width: 1280;
    height: 940;
    margin: 0px;
    padding: 0px;
    
    
    
}
/*cabeçalho*/
a {
    text-decoration: none;
    color: mintcream;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hdr {
    width: 1280;
    height: 124;
     display: flex;
     justify-content: space-between;
     padding: 20px;
     background-image:url("../Imagens/logo.png");
     background-color: darkgreen;
     background-position: 30% 60%;
     background-size: 100%;
     
     }
.logo {
  font-size: 2rem;
  font-style:inherit;
  
}

.sobre {
    margin-right: 30px;
    margin-top: 15px;
    
}
/*conteúdo*/
.content1 {
    display: flex;
    flex-direction: row;
    background-color: darkslategrey;
}
.content2 {
    display: flex;
    background-color: darkslategrey;
}
/*rodapé*/
footer{
    display: flex;
    background-image: url("../Imagens/logo.png");
    background-color: darkseagreen;
    
}
